body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #4CAF50;
}

form {
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
}

textarea {
    resize: vertical; /* Permitir el redimensionamiento vertical */
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1.1em;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049; /* Cambia el color del botón al pasar el cursor */
}

#message {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

#como-funciona {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#como-funciona h2 {
    color: #333;
}

#como-funciona p {
    font-size: 1.1em;
    color: #555;
}

#como-funciona ol {
    margin: 10px 0;
    padding-left: 20px;
}
